@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --fontFamily: "Inter", sans-serif;
  --chat-bg: #20212e;
  --sender-msg-bg: linear-gradient(114.79deg, #c040fc -17.76%, #4b3cff 99.88%);
  --reciver-msg-bg: #434151;
  --secondary-bg: #30303e;
  --text-color: #ecddff;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}
.container {
  max-width: 1108px;
  width: 95%;
  margin: 0 auto;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
.grScrollbar {
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
.grScrollbar::-webkit-scrollbar {
  width: 5px;
}

.grScrollbar::-webkit-scrollbar-track {
  background: rgba(250, 250, 250, 0.2);
}

.grScrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: none;
}

/* Overlay style */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content style */
.modal-content {
  background: rgb(30, 30, 34);
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(155, 147, 147, 0.633);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.network-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.network-item,
.network-item-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.network-item {
  background: #605e5e;
}

.modal-connector-container {
  display: flex;
  width: 50%;
  align-content: center;
  justify-content: start;
  /* background-color: white; */
}

.wallet-adapter-button-evm {
  background-color: #0d98ba !important;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  border-radius: 4px;
}

.network-item-selected {
  background: white;
}

.network-item-container {
  width: 60%;
  display: flex;
  align-items: center;
}

.network-item:hover {
  background: #f1f1f1;
}

.network-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.network-info {
  display: flex;
  flex-direction: column;
}

.network-name {
  font-weight: bold;
}

.network-id {
  font-size: 0.9em;
  color: #555;
}

/* button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

button:hover {
  background-color: #0056b3;
}
